.boxsummary {
    height: 300px;
    margin-left: 100px;
    background: rgb(255, 255, 255);
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    
  }
.Secondboxsummary {
    height: 260px;
    margin-left: 30px;
    background: rgb(255, 255, 255);
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}
  
  .margin-top-80 {
    margin-top: 80px;
  }
/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 1000px) {
    .navbar li {
      padding: 10px;
    }
  
    .boxsummary {
      margin-left: 0px;
    }
    .Secondboxsummary {
        margin-left: 0px;
        margin-right: 0px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }
  