.boxsummary {
    height: 300px;
    margin-left: 100px;
    background: rgb(255, 255, 255);
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    
  }
.Secondboxsummary {
    height: 260px;
    margin-left: 30px;
    background: rgb(255, 255, 255);
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}
  
  .margin-top-80 {
    margin-top: 80px;
  }

  